!!! 5
%html
  %head
    %title= "Phase 4 On Duty"
    %link{ :href => "/css/main.css", :media => "screen", :rel => "stylesheet" }
    :javascript
      // reload every 5 minutes
      var reload = function() { window.location.reload(); }
      setInterval(reload, 1000*60*5);
  %body
    %header
      %h1 Phase 4 On Duty

    .container
      - @board.lists.each do |list|
        .list
          %h2= list.name
          - list.cards.each do |card|
            .card
              %h3= card.name
              - card.members.each do |member|
                %img{ :src => member.avatar_url }
                = member.full_name
                %br
      
    %footer
      %p
        Copyright &copy;
        = Time.now.year
        Dev Bootcamp
